---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/rails/repos?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      X-Github-Api-Version:
      - '2022-11-28'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d0e6e7755109ca334114fdc5c30b6b96d9d7cd5121b0c62949f03d8c388222b9"
      Github-Authentication-Token-Expiration:
      - '2023-06-19 20:04:25 -0300'
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/4223/repos?per_page=100&page=2>; rel="next",
        <https://api.github.com/user/4223/repos?per_page=100&page=2>; rel="last"
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4994'
      X-Ratelimit-Reset:
      - '1684632064'
      X-Ratelimit-Used:
      - '6'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"id":20544,"node_id":"MDEwOlJlcG9zaXRvcnkyMDU0NA==","name":"account_location","full_name":"rails/account_location","private":false,"owner":{"login":"rails","id":4223,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQyMjM=","avatar_url":"https://avatars.githubusercontent.com/u/4223?v=4","gravatar_id":"","url":"https://api.github.com/users/rails","html_url":"https://github.com/rails","followers_url":"https://api.github.com/users/rails/followers","following_url":"https://api.github.com/users/rails/following{/other_user}","gists_url":"https://api.github.com/users/rails/gists{/gist_id}","starred_url":"https://api.github.com/users/rails/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/rails/subscriptions","organizations_url":"https://api.github.com/users/rails/orgs","repos_url":"https://api.github.com/users/rails/repos","events_url":"https://api.github.com/users/rails/events{/privacy}","received_events_url":"https://api.github.com/users/rails/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/rails/account_location","description":"NOTICE:
        official repository moved to https://github.com/bbommarito/account_location","fork":false,"url":"https://api.github.com/repos/rails/account_location","forks_url":"https://api.github.com/repos/rails/account_location/forks","keys_url":"https://api.github.com/repos/rails/account_location/keys{/key_id}","collaborators_url":"https://api.github.com/repos/rails/account_location/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/rails/account_location/teams","hooks_url":"https://api.github.com/repos/rails/account_location/hooks","issue_events_url":"https://api.github.com/repos/rails/account_location/issues/events{/number}","events_url":"https://api.github.com/repos/rails/account_location/events","assignees_url":"https://api.github.com/repos/rails/account_location/assignees{/user}","branches_url":"https://api.github.com/repos/rails/account_location/branches{/branch}","tags_url":"https://api.github.com/repos/rails/account_location/tags","blobs_url":"https://api.github.com/repos/rails/account_location/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/rails/account_location/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/rails/account_location/git/refs{/sha}","trees_url":"https://api.github.com/repos/rails/account_location/git/trees{/sha}","statuses_url":"https://api.github.com/repos/rails/account_location/statuses/{sha}","languages_url":"https://api.github.com/repos/rails/account_location/languages","stargazers_url":"https://api.github.com/repos/rails/account_location/stargazers","contributors_url":"https://api.github.com/repos/rails/account_location/contributors","subscribers_url":"https://api.github.com/repos/rails/account_location/subscribers","subscription_url":"https://api.github.com/repos/rails/account_location/subscription","commits_url":"https://api.github.com/repos/rails/account_location/commits{/sha}","git_commits_url":"https://api.github.com/repos/rails/account_location/git/commits{/sha}","comments_url":"https://api.github.com/repos/rails/account_location/comments{/number}","issue_comment_url":"https://api.github.com/repos/rails/account_location/issues/comments{/number}","contents_url":"https://api.github.com/repos/rails/account_location/contents/{+path}","compare_url":"https://api.github.com/repos/rails/account_location/compare/{base}...{head}","merges_url":"https://api.github.com/repos/rails/account_location/merges","archive_url":"https://api.github.com/repos/rails/account_location/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/rails/account_location/downloads","issues_url":"https://api.github.com/repos/rails/account_location/issues{/number}","pulls_url":"https://api.github.com/repos/rails/account_location/pulls{/number}","milestones_url":"https://api.github.com/repos/rails/account_location/milestones{/number}","notifications_url":"https://api.github.com/repos/rails/account_location/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/rails/account_location/labels{/name}","releases_url":"https://api.github.com/repos/rails/account_location/releases{/id}","deployments_url":"https://api.github.com/repos/rails/account_location/deployments","created_at":"2008-05-29T20:14:45Z","updated_at":"2022-12-27T22:01:05Z","pushed_at":"2008-05-29T20:18:37Z","git_url":"git://github.com/rails/account_location.git","ssh_url":"git@github.com:rails/account_location.git","clone_url":"https://github.com/rails/account_location.git","svn_url":"https://github.com/rails/account_location","homepage":"http://rubyonrails.org","size":148,"stargazers_count":72,"watchers_count":72,"language":"Ruby","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"has_discussions":false,"forks_count":13,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":13,"open_issues":0,"watchers":72,"default_branch":"master","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":true}},{"id":29253597,"node_id":"MDEwOlJlcG9zaXRvcnkyOTI1MzU5Nw==","name":"actioncable","full_name":"rails/actioncable","private":false,"owner":{"login":"rails","id":4223,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQyMjM=","avatar_url":"https://avatars.githubusercontent.com/u/4223?v=4","gravatar_id":"","url":"https://api.github.com/users/rails","html_url":"https://github.com/rails","followers_url":"https://api.github.com/users/rails/followers","following_url":"https://api.github.com/users/rails/following{/[...]
[...]
- request:
    method: get
    uri: https://api.github.com/users/rails/repos?page=3&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      X-Github-Api-Version:
      - '2022-11-28'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"754abbf94e846c46b10d5b308f928f158961d59239d55da561124c376edffa8e"'
      Github-Authentication-Token-Expiration:
      - '2023-06-19 20:04:25 -0300'
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/4223/repos?per_page=100&page=2>; rel="prev",
        <https://api.github.com/user/4223/repos?per_page=100&page=2>; rel="last",
        <https://api.github.com/user/4223/repos?per_page=100&page=1>; rel="first"
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1684632064'
      X-Ratelimit-Used:
      - '8'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sun, 21 May 2023 00:38:51 GMT
recorded_with: VCR 6.1.0
